@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
    --background-color: #FF9E9E;
    --font-color: #F8F988;
    --cor1: #B5DEFF;
    --cor2: #b29bf7;
}

body{
    background-color: var(--cor2);
    color: var(--font-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 5em;
    font-weight: bold;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 3em;
    margin-top: 10px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 20px;
}

.box{
    border: 2px solid var(--font-color);
    display: inline-block;
    font-size: 4em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.btn-jogar{
    padding: 16px 32px;
    border: 0;
    background: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 20px;

}